div.terminal {
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75) inset;
    border: 2px solid $bg4;
    padding: 2%;
    color: $fg1;
    font-family: $default-font;
    font-size: $font-normal;
    background-color: $bg1;
    height: 100%;

    a {
        text-decoration: underline;
        color: inherit;

        &:hover {
            color: $fg1;
        };
    };

    div {
        margin-bottom: 0.3vh;
        opacity: 0;
        transition: opacity ease 0.2s;

        &.show{
            opacity: 1;
        }
    };

    div.command {
        div { 
            opacity: 1; 
        };

        span.term {
            color: $green;

            .username {
                color: $orange;
            }

            .name-seperator {
                color: $yellow;
            }

            .hostname {
                color: $red;
            }

            .seperator {
                color: $fg1;
            }
            
            .directory {
                color: $blue
            }
        }

        input {
            background-color: transparent;
            outline: none;
            border: none;
            color: $fg1;
            font-family: $default-font;
            font-size: $font-normal;
            caret-shape: block;
        }
    };

    div.userinfo {
        display: flex;
        justify-content: flex-start;
        gap: 2.0vw;
        margin-top: 2.7vh;
        margin-bottom: 3vh;

        div {
            opacity: 1;
        };

        div.img {
            display: block;
            height: 30vh;
            box-shadow: inset 0 0 10px black;
            background-image: url(/TFD.png);
            background-repeat: no-repeat;
            background-size: auto 100%;
            border-radius: 4px;
            aspect-ratio: 1/1;
        }

        div {
            div.seperator {
                color: $grey1;
            }

            table {
                border-spacing: 0.5vw 0.8vh;

                td {
                    vertical-align: top;
                }

                td:nth-child(1) {  
                    text-align: end;
                }

                td:nth-child(2) {  
                    color: $grey1;
                }
            }
        }
    }

    div.commandinfo {
        margin-bottom: 3.0vh;

        div { 
            opacity: 1; 
        };

        div {
            margin-left: 0.9vw;

            span.cmd {
                color:  $blue;
            }

            span.arg {
                color:  $purple;
            }

            span.description {
                color:  $grey1;
            }
        }
    }

    div.dirinfo {
        margin-bottom: 3.0vh;

        div { 
            opacity: 1; 
        };

        table {
            margin-left: 0px;
            padding: 0px;
            border-spacing: 0.5vw 0.8vh;

            td {
                vertical-align: top;
            }

            td:nth-child(4) {  
                text-align: end;
            }

            td:nth-child(6) {  
                color: $blue;
            }
        }
    }
}