.transition-fade-in {
    opacity: 1 !important;
}

.transition-fade-out {
    opacity: 0 !important;
}

.transition-slide-in {
    opacity: 1 !important;
}

.transition-slide-out {
    opacity: 0 !important;
}